@{
    ViewData["Title"] = "Balances";
}
@section Styles{

}
@section Scripts{

}

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-12 mb-2 mt-1">
            <div class="row breadcrumbs-top">
                <div class="col-6">
                    <h5 class="content-header-title float-left pr-1 mb-0" style="border-right: none;">@ViewData["Title"]</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        
    </div>
</div>