@using EasyTopup.Web.Extensions

@if (LocalStorageExtensions.Exists(StorageType.Token))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <li class="dropdown dropdown-user nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                <div class="user-nav d-sm-flex d-none">
                    <span class="user-name">@LocalStorageExtensions.Get(StorageType.Name)</span>
                </div><span>
                    <img class="round" src="@LocalStorageExtensions.Get(StorageType.Picture)" alt="avatar" height="40" width="40">
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pb-0">
                <a asp-controller="Profile" asp-action="Index" class="dropdown-item">
                    <i class="bx bx-user mr-50"></i> Edit Profile
                </a>
                <div class="dropdown-divider mb-0"></div>
                <button type="submit" class="dropdown-item"><i class="bx bx-power-off mr-50"></i> Logout</button>
            </div>
        </li>
    </form>
}
else
{
    <div class="row">
        <div class="col-12">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary mr-1 mb-1" style="margin: 15px;">Login</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-outline-primary mr-1 mb-1" style="margin: 15px;">Register</a>
        </div>
    </div>
}
