USE [easytopup]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsAct__1BFD2C07]  DEFAULT ((0)),
	[IsCompanySelected] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsCom__1CF15040]  DEFAULT ((0)),
	[IsShopSelected] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsSho__1DE57479]  DEFAULT ((0)),
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Balance]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL CONSTRAINT [DF__Balance__UserId__59063A47]  DEFAULT (N''),
	[Amount] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Card]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Card](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[SaleViewModelUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Code]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Code](
	[CodeId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[Number] [varchar](500) NULL,
	[IsSold] [bit] NOT NULL,
	[AddedBy] [varchar](100) NULL,
	[IsRange] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Code] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Phone] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[ProfileViewModelUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyShops]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyShops](
	[CompanyShopsId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
 CONSTRAINT [PK_CompanyShops] PRIMARY KEY CLUSTERED 
(
	[CompanyShopsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyUser]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyUser](
	[CompanyUserId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_CompanyUser] PRIMARY KEY CLUSTERED 
(
	[CompanyUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CreateSaleViewModel]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreateSaleViewModel](
	[Code] [nvarchar](450) NOT NULL,
	[CardName] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyDescription] [nvarchar](max) NULL,
	[CompanyPhoto] [nvarchar](max) NULL,
	[ShopName] [nvarchar](max) NULL,
	[ShopDescription] [nvarchar](max) NULL,
	[ShopPhoto] [nvarchar](max) NULL,
	[SaleTime] [datetime2](7) NOT NULL,
	[SoldByEmail] [nvarchar](max) NULL,
	[SoldByName] [nvarchar](max) NULL,
 CONSTRAINT [PK_CreateSaleViewModel] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailTemplate]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailTemplate](
	[EmailTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Content] [varchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[EmailTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Internal_FK_Definition_Storage]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Internal_FK_Definition_Storage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_Name] [varchar](250) NOT NULL,
	[FK_CreationStatement] [varchar](max) NOT NULL,
	[FK_DestructionStatement] [varchar](max) NOT NULL,
	[Table_TruncationStatement] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProfileViewModel]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileViewModel](
	[UserId] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[base64Picture] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[CurrentPassword] [nvarchar](max) NULL,
	[NewPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProfileViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RemainingBalance]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemainingBalance](
	[RemainingBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL CONSTRAINT [DF__Remaining__UserI__6383C8BA]  DEFAULT (N''),
	[SaleId] [int] NOT NULL,
	[BalanceId] [int] NOT NULL CONSTRAINT [DF__Remaining__Balan__5DCAEF64]  DEFAULT ((0)),
	[SaleAmount] [decimal](18, 2) NOT NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[CurrentAmount] [decimal](18, 2) NOT NULL,
	[IsAmountAdded] [bit] NOT NULL CONSTRAINT [DF__Remaining__IsAmo__5EBF139D]  DEFAULT ((0)),
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_RemainingBalance] PRIMARY KEY CLUSTERED 
(
	[RemainingBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sale]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CardId] [int] NOT NULL,
	[CodeId] [int] NOT NULL CONSTRAINT [DF__Sale__CodeId__6754599E]  DEFAULT ((0)),
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleViewModel]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleViewModel](
	[UserId] [nvarchar](450) NOT NULL,
	[CardId] [int] NOT NULL,
	[pageId] [int] NOT NULL,
	[pageSize] [int] NOT NULL,
	[createSaleViewModelCode] [nvarchar](450) NULL,
 CONSTRAINT [PK_SaleViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shop](
	[ShopId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [varchar](100) NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Phone] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[ProfileViewModelUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopUser]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopUser](
	[ShopUserId] [int] IDENTITY(1,1) NOT NULL,
	[ShopId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopUser] PRIMARY KEY CLUSTERED 
(
	[ShopUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCompanyShopViewModel]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompanyShopViewModel](
	[UserId] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ShopName] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserCompanyShopViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserViewModel]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserViewModel](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Shop] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200121203040_Initial_Migration', N'2.1.8-servicing-32085')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200127091409_Company_Shop_Users', N'2.1.8-servicing-32085')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200128102114_User_IsActive', N'2.1.8-servicing-32085')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'401771ed-a99c-4918-ad83-758b4a22320b', N'Admin', N'ADMIN', N'f868127e-a7d0-4841-9624-d0bbf10110cc')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ce29d968-e90c-4ad4-a3f6-897754d6ed23', N'Company', N'COMPANY', N'00049e75-e195-4a62-b55b-6f0fd4f2bbe8')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd228d168-3cb9-4d82-8425-86117493467f', N'Shop', N'SHOP', N'c9d648a2-d70f-4e52-aca9-f2ebe6568920')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0f38a001-9e41-4801-946a-036683b0fb49', N'ce29d968-e90c-4ad4-a3f6-897754d6ed23')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'190fb54e-0251-49a2-8c9e-864153b30d26', N'd228d168-3cb9-4d82-8425-86117493467f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1d045e76-d134-4ad5-a282-e94d5ca949ca', N'ce29d968-e90c-4ad4-a3f6-897754d6ed23')
SET IDENTITY_INSERT [dbo].[Balance] ON 

INSERT [dbo].[Balance] ([BalanceId], [UserId], [Amount], [AddedBy], [IsDelete], [Timestamp]) VALUES (1, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', CAST(5000.00 AS Decimal(18, 2)), N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, CAST(N'2020-02-21 07:52:48.000' AS DateTime))
INSERT [dbo].[Balance] ([BalanceId], [UserId], [Amount], [AddedBy], [IsDelete], [Timestamp]) VALUES (2, N'22c7aff6-e048-4e41-82c0-f64053d3ae16', CAST(2500.00 AS Decimal(18, 2)), N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, CAST(N'2020-02-21 11:25:06.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Balance] OFF
SET IDENTITY_INSERT [dbo].[Card] ON 

SET IDENTITY_INSERT [dbo].[Card] OFF
SET IDENTITY_INSERT [dbo].[Code] ON 

INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (1, 1, N'123456789050', 1, N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, 0, CAST(N'2020-02-17 13:50:38.797' AS DateTime))
INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (2, 1, N'123456789051', 1, N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, 0, CAST(N'2020-02-17 13:50:42.167' AS DateTime))
INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (3, 1, N'123456789052', 1, N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, 0, CAST(N'2020-02-17 13:50:45.113' AS DateTime))
SET IDENTITY_INSERT [dbo].[Code] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[CompanyShops] ON 

INSERT [dbo].[CompanyShops] ([CompanyShopsId], [CompanyId], [ShopId]) VALUES (2, 1, 1)
INSERT [dbo].[CompanyShops] ([CompanyShopsId], [CompanyId], [ShopId]) VALUES (3, 1, 2)
INSERT [dbo].[CompanyShops] ([CompanyShopsId], [CompanyId], [ShopId]) VALUES (4, 1, 3)
SET IDENTITY_INSERT [dbo].[CompanyShops] OFF
SET IDENTITY_INSERT [dbo].[CompanyUser] ON 

INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (1, 1, N'979ff9c6-fd27-4a97-a24b-e5b0cc0972bf', 0, CAST(N'2020-02-17 11:31:18.000' AS DateTime))
INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (2, 2, N'e410e7a8-ce52-4e18-b30f-61f222e3a995', 0, CAST(N'2020-02-17 11:52:13.000' AS DateTime))
INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (3, 3, N'1d045e76-d134-4ad5-a282-e94d5ca949ca', 0, CAST(N'2020-02-17 11:52:59.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CompanyUser] OFF
SET IDENTITY_INSERT [dbo].[EmailTemplate] ON 

SET IDENTITY_INSERT [dbo].[EmailTemplate] OFF
SET IDENTITY_INSERT [dbo].[RemainingBalance] ON 

INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (2, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 0, 1, CAST(0.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 1, 0, CAST(N'2020-02-21 07:52:48.000' AS DateTime))
INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (3, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 1, 0, CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 0, 0, CAST(N'2020-02-21 07:53:18.000' AS DateTime))
INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (4, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 2, 0, CAST(50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3950.00 AS Decimal(18, 2)), 0, 0, CAST(N'2020-02-21 10:36:24.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RemainingBalance] OFF
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [UserId], [CardId], [CodeId], [IsDelete], [Timestamp]) VALUES (1, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 4, 31, 0, CAST(N'2020-02-21 07:53:18.000' AS DateTime))
INSERT [dbo].[Sale] ([SaleId], [UserId], [CardId], [CodeId], [IsDelete], [Timestamp]) VALUES (2, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 1, 1, 0, CAST(N'2020-02-21 10:36:24.000' AS DateTime))
INSERT [dbo].[Sale] ([SaleId], [UserId], [CardId], [CodeId], [IsDelete], [Timestamp]) VALUES (3, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 1, 2, 0, CAST(N'2020-02-21 10:56:09.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sale] OFF
SET IDENTITY_INSERT [dbo].[Shop] ON 

SET IDENTITY_INSERT [dbo].[Shop] OFF
SET IDENTITY_INSERT [dbo].[ShopUser] ON 

INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (1, 1, N'5bae0739-20d2-425c-8a5f-10b0a60bf758', 0, CAST(N'2020-02-17 12:21:18.000' AS DateTime))
INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (4, 2, N'22c7aff6-e048-4e41-82c0-f64053d3ae16', 0, CAST(N'2020-02-17 12:21:18.000' AS DateTime))
INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (5, 3, N'af942276-b04e-4bf5-baca-d117e76566f6', 0, CAST(N'2020-02-17 12:31:39.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShopUser] OFF
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_SaleViewModel_SaleViewModelUserId] FOREIGN KEY([SaleViewModelUserId])
REFERENCES [dbo].[SaleViewModel] ([UserId])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_SaleViewModel_SaleViewModelUserId]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_ProfileViewModel_ProfileViewModelUserId] FOREIGN KEY([ProfileViewModelUserId])
REFERENCES [dbo].[ProfileViewModel] ([UserId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_ProfileViewModel_ProfileViewModelUserId]
GO
ALTER TABLE [dbo].[SaleViewModel]  WITH CHECK ADD  CONSTRAINT [FK_SaleViewModel_CreateSaleViewModel_createSaleViewModelCode] FOREIGN KEY([createSaleViewModelCode])
REFERENCES [dbo].[CreateSaleViewModel] ([Code])
GO
ALTER TABLE [dbo].[SaleViewModel] CHECK CONSTRAINT [FK_SaleViewModel_CreateSaleViewModel_createSaleViewModelCode]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_ProfileViewModel_ProfileViewModelUserId] FOREIGN KEY([ProfileViewModelUserId])
REFERENCES [dbo].[ProfileViewModel] ([UserId])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_ProfileViewModel_ProfileViewModelUserId]
GO
/****** Object:  StoredProcedure [dbo].[CardBlock]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CardBlock]
(@cardId int)
AS
BEGIN

	UPDATE Card SET IsDelete = 1  WHERE CardId = @cardId;

	SELECT * FROM Card WHERE CardId = @cardId;

END

GO
/****** Object:  StoredProcedure [dbo].[CompanyBlock]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CompanyBlock]
(@companyId int)
AS
BEGIN

	UPDATE Company SET IsDelete = 1  WHERE CompanyId = @companyId;

	SELECT * FROM Company WHERE CompanyId = @companyId;

END

GO
/****** Object:  StoredProcedure [dbo].[CreateBalance]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateBalance]
(@userId nvarchar(450), @amount decimal(18, 2), @addedBy nvarchar(450), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @balanceId INT;
DECLARE @currentAmount DECIMAL(18, 2);

INSERT INTO Balance
        (UserId
        ,Amount
        ,AddedBy
        ,IsDelete
        ,Timestamp)
VALUES
        (@userId,
        @amount,
        @addedBy,
        @isDelete,
        @timestamp)


SET @balanceId = (SELECT BalanceId FROM Balance WHERE BalanceId = IDENT_CURRENT('Balance'));
SET @currentAmount = COALESCE((Select TOP 1 CurrentAmount FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC),0);

INSERT INTO RemainingBalance
           (UserId
		   ,SaleId
           ,BalanceId
           ,SaleAmount
           ,BalanceAmount
           ,CurrentAmount
           ,IsAmountAdded
           ,IsDelete
           ,Timestamp)
     VALUES
           (@userId
		   ,0
           ,@balanceId
           ,0
           ,@amount
           ,(@currentAmount + @amount)
           ,1
           ,@isDelete
           ,@timestamp)

SELECT * FROM Balance WHERE BalanceId = IDENT_CURRENT('Balance');

END




GO
/****** Object:  StoredProcedure [dbo].[CreateCard]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateCard]
(@userId nvarchar(450), @companyId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @amount varchar(100), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @company INT;

IF @companyId = 0 BEGIN

	SET @company = (Select CompanyId FROM CompanyUser WHERE UserId = @userId);

	SET @companyId = @company;

END

INSERT INTO Card
           (CompanyId
           ,Name
           ,Description
           ,Photo
           ,Amount
           ,IsDelete
           ,Timestamp)
     VALUES
           (@companyId
           ,@name
           ,@description
           ,@photo
           ,@amount
           ,@isDelete
           ,@timestamp)

SELECT * FROM Card WHERE CardId = IDENT_CURRENT('Card');

END






GO
/****** Object:  StoredProcedure [dbo].[CreateCompany]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateCompany]
(@name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

	INSERT INTO Company
           (Name
           ,Description
           ,Photo
           ,Phone
           ,Address
           ,IsDelete
           ,Timestamp)
     VALUES
           (@name,
           @description,
           @photo,
           @phone,
           @address,
           @isDelete,
           @timestamp)

SELECT * FROM Company WHERE CompanyId = IDENT_CURRENT('Company');


END












GO
/****** Object:  StoredProcedure [dbo].[CreateSale]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateSale]
(@userId nvarchar(450), @cardId int, @isDelete bit, @timestamp datetime)
AS
BEGIN
DECLARE @userBalance decimal(18, 2);
DECLARE @cardAmount decimal(18, 2);
DECLARE @codeId INT;
DECLARE @saleId INT;

SET @userBalance = (Select TOP 1 CurrentAmount FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC);

SET @cardAmount = (SELECT Amount FROM Card WHERE CardId = @cardId);

	IF @userBalance >= @cardAmount  BEGIN

		SET @codeId = (SELECT TOP 1 CodeId FROM Code WHERE CardId = @cardId AND IsSold = 0 ORDER BY CodeId ASC);

		IF (@codeId IS NOT NULL) OR (@codeId > 0) BEGIN

			UPDATE Code SET IsSold = 1 WHERE CodeId = @codeId;

			INSERT INTO Sale (UserId, CardId, CodeId, IsDelete, Timestamp) VALUES (@userId, @cardId, @codeId, @isDelete, @timestamp)

			SET @saleId = (SELECT SaleId FROM Sale WHERE SaleId = IDENT_CURRENT('Sale'))

			INSERT INTO RemainingBalance
			   (UserId, SaleId, BalanceId, SaleAmount, BalanceAmount, CurrentAmount, IsAmountAdded, IsDelete, Timestamp)
			VALUES
			   (@userId, @saleId, 0, @cardAmount, 0, (@userBalance - @cardAmount), 0, @isDelete, @timestamp)

			SELECT 
				c.Number AS Code,
				cd.Name AS CardName,
				cd.Description AS CardDescription,
				cd.Amount AS Amount,
				cp.Name AS CompanyName,
				cp.Description AS CompanyDescription,
				cp.Photo AS CompanyPhoto,
				sp.Name AS ShopName,
				sp.Address AS ShopAddress,
				sp.Phone AS ShopPhone,
				sp.Description AS ShopDescription,
				sp.Photo AS ShopPhoto,
				s.SaleId AS SaleId,
				s.Timestamp AS SaleTime,			
				anu.Email AS SoldByEmail,
				CONCAT(anu.FirstName, ' ', anu.LastName) AS SoldByName
			FROM Code c
				INNER JOIN Sale s ON 
				s.CodeId = c.CodeId
				INNER JOIN AspNetUsers anu ON 
				anu.Id = s.UserId
				INNER JOIN Card cd ON 
				cd.CardId = c.CardId
				INNER JOIN Company cp ON 
				cp.CompanyId = cd.CompanyId
				INNER JOIN ShopUser su ON 
				su.UserId = s.UserId
				INNER JOIN Shop sp ON 
				sp.ShopId = su.ShopId
			WHERE s.CodeId = @codeId;

		END

	END

END


GO
/****** Object:  StoredProcedure [dbo].[CreateShop]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateShop]
(@userId nvarchar(450), @companyId int, @registration varchar(100), @name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @company int
DECLARE @shopId int

INSERT INTO Shop
		(RegistrationNumber
		,Name
		,Description
		,Photo
		,Phone
		,Address
		,IsDelete
		,Timestamp)
VALUES
		(@registration,
		@name,
		@description,
		@photo,
		@phone,
		@address,
		@isDelete,
		@timestamp)

SET @shopId = (SELECT ShopId FROM Shop WHERE ShopId = IDENT_CURRENT('Shop'));

IF @companyId = 0  BEGIN

	SET @company = (SELECT CompanyId FROM CompanyUser Where UserId = @userId);

	SET @companyId = @company
END

INSERT INTO CompanyShops (CompanyId, ShopId) VALUES(@companyId, @shopId);

SELECT * FROM Shop WHERE ShopId = @shopId;

END









GO
/****** Object:  StoredProcedure [dbo].[CreateTemplate]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateTemplate]
(@name varchar(100), @content varchar(MAX), @isDelete bit, @timestamp datetime)
AS
BEGIN

INSERT INTO EmailTemplate
        (Name
        ,Content
        ,IsDelete
        ,Timestamp)
VALUES
        (@name,
        @content,
        @isDelete,
        @timestamp)

SELECT * FROM EmailTemplate WHERE EmailTemplateId = IDENT_CURRENT('EmailTemplate');

END






GO
/****** Object:  StoredProcedure [dbo].[EditCompany]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditCompany]
(@companyId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

	UPDATE Company SET 
		Name = @name,
		Description = @description,
		Photo = @photo,
		Phone = @phone,
		Address = @address,
		IsDelete = @isDelete,
		Timestamp = @timestamp
	WHERE CompanyId = @companyId;

	SELECT * FROM Company WHERE CompanyId = @companyId;

END












GO
/****** Object:  StoredProcedure [dbo].[EditShop]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditShop]
(@shopId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

UPDATE Shop SET 
	Name = @name,
	Description = @description,
	Photo = @photo,
	Phone = @phone,
	Address = @address,
	IsDelete = @isDelete,
	Timestamp = @timestamp
WHERE ShopId = @shopId;

SELECT * FROM Shop WHERE ShopId = @shopId;

END









GO
/****** Object:  StoredProcedure [dbo].[EditTemplate]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditTemplate]
(@emailTemplateId int, @name varchar(100), @content varchar(MAX), @isDelete bit, @timestamp datetime)
AS
BEGIN

UPDATE EmailTemplate SET 
	Name = @name,
	Content = @content,
	IsDelete = @isDelete,
	Timestamp = @timestamp
WHERE EmailTemplateId = @emailTemplateId;

SELECT * FROM EmailTemplate WHERE EmailTemplateId = @emailTemplateId;

END






GO
/****** Object:  StoredProcedure [dbo].[GetAllCards]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCards]
(@userId nvarchar(450), @pageId int, @pageSize int)
AS
BEGIN

DECLARE @offset int
DECLARE @userRole nvarchar(256);
	
SET @userRole = (SELECT anr.Name AS UserRole FROM AspNetUserRoles anur INNER JOIN AspNetRoles anr ON anr.Id = anur.RoleId WHERE UserId = @userId);


	IF @pageSize = -1 BEGIN
	
		IF @userRole = 'Admin'  BEGIN

			SELECT * FROM Card WHERE IsDelete = 0;
		
		END
		ELSE IF @userRole = 'Company'  BEGIN  

			SELECT 
			cu.UserId AS SaleViewModelUserId, c.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp 
			FROM Card c
			INNER JOIN CompanyUser cu 
			ON cu.CompanyId = c.CompanyId
			WHERE cu.UserId = @userId AND c.IsDelete = 0;

		END
		ELSE IF @userRole = 'Shop'  BEGIN  

			SELECT su.UserId AS SaleViewModelUserId, 
			cs.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp FROM ShopUser su
			INNER JOIN CompanyShops cs ON su.ShopId = cs.ShopId
			INNER JOIN Card c ON cs.CompanyId = c.CompanyId
			WHERE su.UserId = @userId AND c.IsDelete = 0;

		END
	END
	ELSE  BEGIN
	
		SET @offset = (@pageId - 1) * @pageSize;
		
		IF @userRole = 'Admin'  BEGIN

			SELECT * FROM Card WHERE IsDelete = 0
			ORDER BY CardId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY
			
		END
		ELSE IF @userRole = 'Company'  BEGIN  

			SELECT 
			cu.UserId AS SaleViewModelUserId, c.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp 
			FROM Card c
			INNER JOIN CompanyUser cu 
			ON cu.CompanyId = c.CompanyId
			WHERE cu.UserId = @userId AND c.IsDelete = 0
			ORDER BY c.CardId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;

		END
		ELSE IF @userRole = 'Shop'  BEGIN  

			SELECT su.UserId AS SaleViewModelUserId, 
			cs.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp FROM ShopUser su
			INNER JOIN CompanyShops cs ON su.ShopId = cs.ShopId
			INNER JOIN Card c ON cs.CompanyId = c.CompanyId
			WHERE su.UserId = @userId AND c.IsDelete = 0
			ORDER BY c.CardId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;

		END

	END
END






GO
/****** Object:  StoredProcedure [dbo].[GetAllCompanies]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCompanies]
(@pageId int, @pageSize int)
AS
BEGIN
	declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM Company WHERE IsDelete = 0;

	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM Company WHERE IsDelete = 0
		ORDER BY CompanyId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END

END












GO
/****** Object:  StoredProcedure [dbo].[GetAllShops]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllShops]
(@userId nvarchar(450), @pageId int, @pageSize int)
AS
BEGIN

DECLARE @offset int
DECLARE @userRole nvarchar(256);
	
SET @userRole = (SELECT anr.Name AS UserRole FROM AspNetUserRoles anur INNER JOIN AspNetRoles anr ON anr.Id = anur.RoleId WHERE UserId = @userId);

	IF @pageSize = -1 BEGIN

		IF @userRole = 'Admin'  BEGIN

			SELECT * FROM Shop WHERE IsDelete = 0;

		END
		ELSE  BEGIN

			SELECT 
			s.ShopId,
			s.RegistrationNumber,
			s.Name,
			s.Description,
			s.Photo,
			s.Phone,
			s.Address,
			s.IsDelete,
			s.Timestamp,
			'' AS ProfileViewModelUserId
			FROM CompanyUser cu
			INNER JOIN CompanyShops cs
			ON cs.CompanyId = cu.CompanyId
			INNER JOIN Shop s
			ON s.ShopId = cs.ShopId
			WHERE UserId = @userId AND s.IsDelete = 0;

		END
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		IF @userRole = 'Admin'  BEGIN

			SELECT * FROM Shop WHERE IsDelete = 0
			ORDER BY ShopId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY
		
		END
		ELSE  BEGIN

			SELECT 
			s.ShopId,
			s.RegistrationNumber,
			s.Name,
			s.Description,
			s.Photo,
			s.Phone,
			s.Address,
			s.IsDelete,
			s.Timestamp,
			'' AS ProfileViewModelUserId
			FROM CompanyUser cu
			INNER JOIN CompanyShops cs
			ON cs.CompanyId = cu.CompanyId
			INNER JOIN Shop s
			ON s.ShopId = cs.ShopId
			WHERE UserId = @userId AND s.IsDelete = 0
			ORDER BY s.ShopId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;

		END

	END
END









GO
/****** Object:  StoredProcedure [dbo].[GetAllTemplates]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTemplates] 
(@pageId int, @pageSize int)
AS
BEGIN

declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM EmailTemplate WHERE IsDelete = 0;

	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM EmailTemplate WHERE IsDelete = 0
		ORDER BY EmailTemplateId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END
END






GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllUsers]
(@userId nvarchar(450), @pageId int, @pageSize int)
AS
BEGIN

DECLARE @offset int
DECLARE @userRole nvarchar(256);
	
SET @userRole = (SELECT anr.Name AS UserRole FROM AspNetUserRoles anur INNER JOIN AspNetRoles anr ON anr.Id = anur.RoleId WHERE UserId = @userId);


	IF @pageSize = -1 BEGIN

		IF @userRole = 'Admin'  BEGIN

			SELECT 
			Id AS UserId, 
			CONCAT(FirstName, ' ', LastName) AS Name,
			Email,
			COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
			COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
			(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
			IsActive
			FROM AspNetUsers anu
			WHERE IsActive = 1;

		END
		ELSE  BEGIN

			SELECT 
			anu.Id AS UserId, 
			CONCAT(anu.FirstName, ' ', anu.LastName) AS Name,
			anu.Email,
			COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
			COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
			(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
			anu.IsActive 
			FROM CompanyUser cu
			INNER JOIN CompanyShops cs
			ON  cs.CompanyId = cu.CompanyId
			INNER JOIN ShopUser su
			ON su.ShopId = cs.ShopId
			INNER JOIN AspNetUsers anu
			ON anu.Id = su.UserId
			WHERE cu.UserId = @userId AND IsActive = 1;

		END
		
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		IF @userRole = 'Admin'  BEGIN

			SELECT 
			Id AS UserId, 
			CONCAT(FirstName, ' ', LastName) AS Name,
			Email,
			COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
			COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
			(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
			IsActive
			FROM AspNetUsers anu
			WHERE IsActive = 1
			ORDER BY Id OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;

		END
		ELSE  BEGIN

			SELECT 
			anu.Id AS UserId, 
			CONCAT(anu.FirstName, ' ', anu.LastName) AS Name,
			anu.Email,
			COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
			COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
			(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
			anu.IsActive 
			FROM CompanyUser cu
			INNER JOIN CompanyShops cs
			ON  cs.CompanyId = cu.CompanyId
			INNER JOIN ShopUser su
			ON su.ShopId = cs.ShopId
			INNER JOIN AspNetUsers anu
			ON anu.Id = su.UserId
			WHERE cu.UserId = @userId AND IsActive = 1
			ORDER BY anu.Id OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY;

		END


	END
END









GO
/****** Object:  StoredProcedure [dbo].[GetBalanceByUserId]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetBalanceByUserId] 
(@userId nvarchar(450))
AS
BEGIN

Select TOP 1 * FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC;

END



GO
/****** Object:  StoredProcedure [dbo].[GetByIdCompany]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdCompany]
(@id int)
AS
BEGIN

	SELECT * FROM Company WHERE CompanyId = @id;

END












GO
/****** Object:  StoredProcedure [dbo].[GetByIdShop]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdShop]
(@id int)
AS
BEGIN

	SELECT * FROM Shop WHERE ShopId = @id;

END









GO
/****** Object:  StoredProcedure [dbo].[GetByIdTemplate]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdTemplate]
(@id int)
AS
BEGIN

	SELECT * FROM EmailTemplate WHERE EmailTemplateId = @id;

END






GO
/****** Object:  StoredProcedure [dbo].[GetByNameTemplate]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByNameTemplate]
(@name varchar(100))
AS
BEGIN

	SELECT * FROM EmailTemplate WHERE Name = @name;

END






GO
/****** Object:  StoredProcedure [dbo].[GetCardsByUserId]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCardsByUserId]
(@userId nvarchar(450), @pageId int, @pageSize int)
AS
BEGIN

declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT su.UserId AS SaleViewModelUserId, 
		su.UserId, su.ShopId, cs.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp FROM ShopUser su
		INNER JOIN CompanyShops cs ON su.ShopId = cs.ShopId
		INNER JOIN Card c ON cs.CompanyId = c.CompanyId
		WHERE su.UserId = @userId;
		
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT su.UserId AS SaleViewModelUserId, 
		su.UserId, su.ShopId, cs.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp FROM ShopUser su
		INNER JOIN CompanyShops cs ON su.ShopId = cs.ShopId
		INNER JOIN Card c ON cs.CompanyId = c.CompanyId
		WHERE su.UserId = @userId
		ORDER BY c.CardId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END



END



GO
/****** Object:  StoredProcedure [dbo].[GetProfile]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProfile]
(@userId nvarchar(450))
AS
BEGIN
	SELECT 
		Id AS UserId,
		Email,
		FirstName,
		LastName,
		Picture,
		Description,
		PhoneNumber AS Phone,
		'' AS base64Picture,
		'' AS listCompanies,
		'' AS listShops,
		'' AS CurrentPassword,
		'' AS NewPassword,
		COALESCE((Select CompanyId FROM CompanyUser WHERE UserId = @userId), 0) AS CompanyId,
		COALESCE((Select ShopId FROM ShopUser WHERE UserId = @userId), 0) AS ShopId
	FROM AspNetUsers
	WHERE Id = @userId;
END









GO
/****** Object:  StoredProcedure [dbo].[InsertUserToCompanyShop]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertUserToCompanyShop]
(@userId nvarchar(450), @companyId int, @shopId int, @createdBy nvarchar(450), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @company INT;
DECLARE @userRole nvarchar(256);

SET @userRole = (SELECT anr.Name AS UserRole FROM AspNetUserRoles anur INNER JOIN AspNetRoles anr ON anr.Id = anur.RoleId WHERE UserId = @userId);

IF @userRole = 'Company'  BEGIN

	INSERT INTO CompanyUser (CompanyId, UserId, IsDelete, Timestamp)
	VALUES (@companyId, @userId, @isDelete, @timestamp)

END

IF @userRole = 'Shop'  BEGIN

	INSERT INTO ShopUser (ShopId, UserId, IsDelete, Timestamp)
	VALUES (@shopId, @userId, @isDelete, @timestamp)

	-- SET @company = (SELECT CompanyId FROM CompanyUser Where UserId = @createdBy);

	-- INSERT INTO CompanyShops (CompanyId ,ShopId)
    -- VALUES (@company ,@shopId)

END

SELECT 
anu.Id AS UserId, 
CONCAT(anu.FirstName, ' ', anu.LastName) AS UserName,
anu.Email AS Email,
cu.CompanyId, 
su.ShopId, 
(SELECT DISTINCT Name FROM Company WHERE CompanyId = cu.CompanyId) AS CompanyName,
(SELECT DISTINCT Name FROM Shop WHERE ShopId = su.ShopId) AS ShopName
FROM AspNetUsers anu
INNER JOIN CompanyUser cu
ON cu.UserId = anu.Id
INNER JOIN ShopUser su
ON su.UserId = anu.Id
WHERE anu.Id = @userId;

END







GO
/****** Object:  StoredProcedure [dbo].[SaveSettings]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SaveSettings]
(@userId nvarchar(450), @userRole varchar(50), @companyId int, @shopId int, @isDelete bit, @timestamp datetime)
AS
BEGIN

IF @companyId != 0 AND (@userRole = 'Company' OR @userRole = 'Shop')  BEGIN

	IF EXISTS(SELECT * FROM CompanyUser WHERE CompanyId = @companyId AND UserId = @userId)
		UPDATE CompanyUser SET CompanyId = @companyId, UserId = @userId, IsDelete = @isDelete, Timestamp = @timestamp
		WHERE CompanyId = @companyId AND UserId = @userId
	ELSE
		INSERT INTO CompanyUser
			(CompanyId, UserId, IsDelete, Timestamp)
		VALUES
			(@companyId, @userId, @isDelete, @timestamp)

	UPDATE AspNetUsers SET IsCompanySelected = 1 WHERE Id = @userId;

END

IF @shopId != 0 AND @userRole = 'Shop' BEGIN

	IF EXISTS(SELECT * FROM ShopUser WHERE ShopId = @shopId AND UserId = @userId)
		UPDATE ShopUser SET ShopId = @shopId, UserId = @userId, IsDelete = @isDelete, Timestamp = @timestamp
		WHERE ShopId = @shopId AND UserId = @userId
	ELSE
		INSERT INTO ShopUser
			(ShopId, UserId ,IsDelete ,Timestamp)
		VALUES
			(@shopId, @userId, @isDelete, @timestamp)

	UPDATE AspNetUsers SET IsShopSelected = 1 WHERE Id = @userId;

END

SELECT * FROM AspNetUsers WHERE Id = @userId;

END










GO
/****** Object:  StoredProcedure [dbo].[ShopBlock]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ShopBlock]
(@shopId int)
AS
BEGIN

	UPDATE Shop SET IsDelete = 1  WHERE ShopId = @shopId;

	SELECT * FROM Shop WHERE ShopId = @shopId;

END

GO
/****** Object:  StoredProcedure [dbo].[TemplateBlock]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TemplateBlock]
(@templateId int)
AS
BEGIN

	UPDATE EmailTemplate SET IsDelete = 1  WHERE EmailTemplateId = @templateId;

	SELECT * FROM EmailTemplate WHERE EmailTemplateId = @templateId;

END

GO
/****** Object:  StoredProcedure [dbo].[truncate_non_empty_table]    Script Date: 2/21/2020 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[truncate_non_empty_table]

  @TableToTruncate                 VARCHAR(64)

AS 

BEGIN

SET NOCOUNT ON

-- GLOBAL VARIABLES
DECLARE @i int
DECLARE @Debug bit
DECLARE @Recycle bit
DECLARE @Verbose bit
DECLARE @TableName varchar(80)
DECLARE @ColumnName varchar(80)
DECLARE @ReferencedTableName varchar(80)
DECLARE @ReferencedColumnName varchar(80)
DECLARE @ConstraintName varchar(250)

DECLARE @CreateStatement varchar(max)
DECLARE @DropStatement varchar(max)   
DECLARE @TruncateStatement varchar(max)
DECLARE @CreateStatementTemp varchar(max)
DECLARE @DropStatementTemp varchar(max)
DECLARE @TruncateStatementTemp varchar(max)
DECLARE @Statement varchar(max)

        -- 1 = Will not execute statements 
 SET @Debug = 0
        -- 0 = Will not create or truncate storage table
        -- 1 = Will create or truncate storage table
 SET @Recycle = 0
        -- 1 = Will print a message on every step
 set @Verbose = 1

 SET @i = 1
    SET @CreateStatement = 'ALTER TABLE [dbo].[<tablename>]  WITH NOCHECK ADD  CONSTRAINT [<constraintname>] FOREIGN KEY([<column>]) REFERENCES [dbo].[<reftable>] ([<refcolumn>])'
    SET @DropStatement = 'ALTER TABLE [dbo].[<tablename>] DROP CONSTRAINT [<constraintname>]'
    SET @TruncateStatement = 'TRUNCATE TABLE [<tablename>]'

-- Drop Temporary tables

IF OBJECT_ID('tempdb..#FKs') IS NOT NULL
    DROP TABLE #FKs

-- GET FKs
SELECT ROW_NUMBER() OVER (ORDER BY OBJECT_NAME(parent_object_id), clm1.name) as ID,
       OBJECT_NAME(constraint_object_id) as ConstraintName,
       OBJECT_NAME(parent_object_id) as TableName,
       clm1.name as ColumnName, 
       OBJECT_NAME(referenced_object_id) as ReferencedTableName,
       clm2.name as ReferencedColumnName
  INTO #FKs
  FROM sys.foreign_key_columns fk
       JOIN sys.columns clm1 
         ON fk.parent_column_id = clm1.column_id 
            AND fk.parent_object_id = clm1.object_id
       JOIN sys.columns clm2
         ON fk.referenced_column_id = clm2.column_id 
            AND fk.referenced_object_id= clm2.object_id
 --WHERE OBJECT_NAME(parent_object_id) not in ('//tables that you do not wont to be truncated')
 WHERE OBJECT_NAME(referenced_object_id) = @TableToTruncate
 ORDER BY OBJECT_NAME(parent_object_id)


-- Prepare Storage Table
IF Not EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Internal_FK_Definition_Storage')
   BEGIN
        IF @Verbose = 1
     PRINT '1. Creating Process Specific Tables...'

  -- CREATE STORAGE TABLE IF IT DOES NOT EXISTS
  CREATE TABLE [Internal_FK_Definition_Storage] 
  (
   ID int not null identity(1,1) primary key,
   FK_Name varchar(250) not null,
   FK_CreationStatement varchar(max) not null,
   FK_DestructionStatement varchar(max) not null,
   Table_TruncationStatement varchar(max) not null
  ) 
   END 
ELSE
   BEGIN
        IF @Recycle = 0
            BEGIN
                IF @Verbose = 1
       PRINT '1. Truncating Process Specific Tables...'

    -- TRUNCATE TABLE IF IT ALREADY EXISTS
    TRUNCATE TABLE [Internal_FK_Definition_Storage]    
      END
      ELSE
         PRINT '1. Process specific table will be recycled from previous execution...'
   END


IF @Recycle = 0
   BEGIN

  IF @Verbose = 1
     PRINT '2. Backing up Foreign Key Definitions...'

  -- Fetch and persist FKs             
  WHILE (@i <= (SELECT MAX(ID) FROM #FKs))
   BEGIN
    SET @ConstraintName = (SELECT ConstraintName FROM #FKs WHERE ID = @i)
    SET @TableName = (SELECT TableName FROM #FKs WHERE ID = @i)
    SET @ColumnName = (SELECT ColumnName FROM #FKs WHERE ID = @i)
    SET @ReferencedTableName = (SELECT ReferencedTableName FROM #FKs WHERE ID = @i)
    SET @ReferencedColumnName = (SELECT ReferencedColumnName FROM #FKs WHERE ID = @i)

    SET @DropStatementTemp = REPLACE(REPLACE(@DropStatement,'<tablename>',@TableName),'<constraintname>',@ConstraintName)
    SET @CreateStatementTemp = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@CreateStatement,'<tablename>',@TableName),'<column>',@ColumnName),'<constraintname>',@ConstraintName),'<reftable>',@ReferencedTableName),'<refcolumn>',@ReferencedColumnName)
    SET @TruncateStatementTemp = REPLACE(@TruncateStatement,'<tablename>',@TableName) 

    INSERT INTO [Internal_FK_Definition_Storage]
                        SELECT @ConstraintName, @CreateStatementTemp, @DropStatementTemp, @TruncateStatementTemp

    SET @i = @i + 1

    IF @Verbose = 1
       PRINT '  > Backing up [' + @ConstraintName + '] from [' + @TableName + ']'

    END   
    END   
    ELSE 
       PRINT '2. Backup up was recycled from previous execution...'

       IF @Verbose = 1
     PRINT '3. Dropping Foreign Keys...'

    -- DROP FOREING KEYS
    SET @i = 1
    WHILE (@i <= (SELECT MAX(ID) FROM [Internal_FK_Definition_Storage]))
          BEGIN
             SET @ConstraintName = (SELECT FK_Name FROM [Internal_FK_Definition_Storage] WHERE ID = @i)
    SET @Statement = (SELECT FK_DestructionStatement FROM [Internal_FK_Definition_Storage] WITH (NOLOCK) WHERE ID = @i)

    IF @Debug = 1 
       PRINT @Statement
    ELSE
       EXEC(@Statement)

    SET @i = @i + 1


    IF @Verbose = 1
       PRINT '  > Dropping [' + @ConstraintName + ']'

             END     


    IF @Verbose = 1
       PRINT '4. Truncating Tables...'

    -- TRUNCATE TABLES
-- SzP: commented out as the tables to be truncated might also contain tables that has foreign keys
-- to resolve this the stored procedure should be called recursively, but I dont have the time to do it...          
 /*
    SET @i = 1
    WHILE (@i <= (SELECT MAX(ID) FROM [Internal_FK_Definition_Storage]))
          BEGIN

    SET @Statement = (SELECT Table_TruncationStatement FROM [Internal_FK_Definition_Storage] WHERE ID = @i)

    IF @Debug = 1 
       PRINT @Statement
    ELSE
       EXEC(@Statement)

    SET @i = @i + 1

    IF @Verbose = 1
       PRINT '  > ' + @Statement
          END
*/          


    IF @Verbose = 1
       PRINT '  > TRUNCATE TABLE [' + @TableToTruncate + ']'

    IF @Debug = 1 
        PRINT 'TRUNCATE TABLE [' + @TableToTruncate + ']'
    ELSE
        EXEC('TRUNCATE TABLE [' + @TableToTruncate + ']')


    IF @Verbose = 1
       PRINT '5. Re-creating Foreign Keys...'

    -- CREATE FOREING KEYS
    SET @i = 1
    WHILE (@i <= (SELECT MAX(ID) FROM [Internal_FK_Definition_Storage]))
          BEGIN
             SET @ConstraintName = (SELECT FK_Name FROM [Internal_FK_Definition_Storage] WHERE ID = @i)
    SET @Statement = (SELECT FK_CreationStatement FROM [Internal_FK_Definition_Storage] WHERE ID = @i)

    IF @Debug = 1 
       PRINT @Statement
    ELSE
       EXEC(@Statement)

    SET @i = @i + 1


    IF @Verbose = 1
       PRINT '  > Re-creating [' + @ConstraintName + ']'

          END

    IF @Verbose = 1
       PRINT '6. Process Completed'


END

GO
