USE [easytopup]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsAct__1BFD2C07]  DEFAULT ((0)),
	[IsCompanySelected] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsCom__1CF15040]  DEFAULT ((0)),
	[IsShopSelected] [bit] NOT NULL CONSTRAINT [DF__AspNetUse__IsSho__1DE57479]  DEFAULT ((0)),
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Balance]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL CONSTRAINT [DF__Balance__UserId__59063A47]  DEFAULT (N''),
	[Amount] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Card]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Card](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL CONSTRAINT [DF__Card__CompanyId__37A5467C]  DEFAULT ((0)),
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[CardViewModelCardId] [int] NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CardViewModel]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardViewModel](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[base64Picture] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_CardViewModel] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Code]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Code](
	[CodeId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[Number] [varchar](500) NULL,
	[IsSold] [bit] NOT NULL,
	[AddedBy] [varchar](100) NULL,
	[IsRange] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Code] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Phone] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[ProfileViewModelUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyShops]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyShops](
	[CompanyShopsId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
 CONSTRAINT [PK_CompanyShops] PRIMARY KEY CLUSTERED 
(
	[CompanyShopsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyUser]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyUser](
	[CompanyUserId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_CompanyUser] PRIMARY KEY CLUSTERED 
(
	[CompanyUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailTemplate]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailTemplate](
	[EmailTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Content] [varchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[EmailTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProfileViewModel]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileViewModel](
	[UserId] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[base64Picture] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[CurrentPassword] [nvarchar](max) NULL,
	[NewPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProfileViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RemainingBalance]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemainingBalance](
	[RemainingBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL CONSTRAINT [DF__Remaining__UserI__6383C8BA]  DEFAULT (N''),
	[SaleId] [int] NOT NULL,
	[BalanceId] [int] NOT NULL CONSTRAINT [DF__Remaining__Balan__5DCAEF64]  DEFAULT ((0)),
	[SaleAmount] [decimal](18, 2) NOT NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[CurrentAmount] [decimal](18, 2) NOT NULL,
	[IsAmountAdded] [bit] NOT NULL CONSTRAINT [DF__Remaining__IsAmo__5EBF139D]  DEFAULT ((0)),
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_RemainingBalance] PRIMARY KEY CLUSTERED 
(
	[RemainingBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sale]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CardId] [int] NOT NULL,
	[CodeId] [int] NOT NULL CONSTRAINT [DF__Sale__CodeId__6754599E]  DEFAULT ((0)),
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shop](
	[ShopId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Photo] [varchar](max) NULL,
	[Phone] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[ProfileViewModelUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopUser]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopUser](
	[ShopUserId] [int] IDENTITY(1,1) NOT NULL,
	[ShopId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopUser] PRIMARY KEY CLUSTERED 
(
	[ShopUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCompanyShopViewModel]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompanyShopViewModel](
	[UserId] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ShopName] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserCompanyShopViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserViewModel]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserViewModel](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Shop] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserViewModel] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200121203040_Initial_Migration', N'2.1.8-servicing-32085')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200127091409_Company_Shop_Users', N'2.1.8-servicing-32085')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200128102114_User_IsActive', N'2.1.8-servicing-32085')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'304d7822-19e1-4c3f-84f8-7454ff1c6785', N'Company', N'COMPANY', N'75bd6114-ef02-472c-a323-bb47e3c46a19')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'50d32192-35ea-4a58-b2d9-ec8d4d25b89a', N'Shop', N'SHOP', N'0ea9fef8-c4a4-4cf1-a09f-d863ee9694f7')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9b32e772-a2cc-450f-bd33-7107906ab5f6', N'Admin', N'ADMIN', N'4e3a81be-4f58-49d8-9c8f-af197cf799f0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'113a84cf-3b8d-45b6-8f63-a5a5a2ec0ba0', N'9b32e772-a2cc-450f-bd33-7107906ab5f6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'284afac0-984b-4d5f-a44b-1d68e2341670', N'304d7822-19e1-4c3f-84f8-7454ff1c6785')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'323e9016-7e5f-4879-a27e-afd37967428f', N'304d7822-19e1-4c3f-84f8-7454ff1c6785')
SET IDENTITY_INSERT [dbo].[Balance] ON 

INSERT [dbo].[Balance] ([BalanceId], [UserId], [Amount], [AddedBy], [IsDelete], [Timestamp]) VALUES (1, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', CAST(100.00 AS Decimal(18, 2)), N'323e9016-7e5f-4879-a27e-afd37967428f', 0, CAST(N'2020-02-11 14:44:30.000' AS DateTime))
INSERT [dbo].[Balance] ([BalanceId], [UserId], [Amount], [AddedBy], [IsDelete], [Timestamp]) VALUES (2, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', CAST(1000.00 AS Decimal(18, 2)), N'323e9016-7e5f-4879-a27e-afd37967428f', 0, CAST(N'2020-02-11 14:45:06.000' AS DateTime))
INSERT [dbo].[Balance] ([BalanceId], [UserId], [Amount], [AddedBy], [IsDelete], [Timestamp]) VALUES (3, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', CAST(1500.00 AS Decimal(18, 2)), N'323e9016-7e5f-4879-a27e-afd37967428f', 0, CAST(N'2020-02-11 14:47:38.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Balance] OFF
SET IDENTITY_INSERT [dbo].[Card] ON 

INSERT [dbo].[Card] ([CardId], [CompanyId], [Name], [Description], [Photo], [Amount], [IsDelete], [Timestamp], [CardViewModelCardId]) VALUES (1, 8, N'Card 50', N'50 NOK', NULL, CAST(50.00 AS Decimal(18, 2)), 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
INSERT [dbo].[Card] ([CardId], [CompanyId], [Name], [Description], [Photo], [Amount], [IsDelete], [Timestamp], [CardViewModelCardId]) VALUES (2, 8, N'Card 100', N'100 NOK', NULL, CAST(100.00 AS Decimal(18, 2)), 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
INSERT [dbo].[Card] ([CardId], [CompanyId], [Name], [Description], [Photo], [Amount], [IsDelete], [Timestamp], [CardViewModelCardId]) VALUES (3, 8, N'Card 500', N'500 NOK', NULL, CAST(500.00 AS Decimal(18, 2)), 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Card] OFF
SET IDENTITY_INSERT [dbo].[Code] ON 

INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (1, 1, N'10000201', 1, N'323e9016-7e5f-4879-a27e-afd37967428f', 1, 0, CAST(N'2020-02-11 10:29:02.887' AS DateTime))
INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (2, 2, N'10000202', 0, N'323e9016-7e5f-4879-a27e-afd37967428f', 1, 0, CAST(N'2020-02-11 10:29:06.067' AS DateTime))
INSERT [dbo].[Code] ([CodeId], [CardId], [Number], [IsSold], [AddedBy], [IsRange], [IsDelete], [Timestamp]) VALUES (3, 3, N'10000203', 0, N'323e9016-7e5f-4879-a27e-afd37967428f', 1, 0, CAST(N'2020-02-11 10:29:06.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Code] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (1, N'Company1', N'This is company 1', N'', N'123456789', N'pak, now', 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (2, N'Company2', N'This is company 2', N'', N'123456789', N'pak', 0, CAST(N'2020-01-27 14:02:10.000' AS DateTime), NULL)
INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (3, N'Company3', N'This is company 3', N'', N'123456789', N'pak', 0, CAST(N'2020-01-27 14:02:19.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[CompanyShops] ON 

INSERT [dbo].[CompanyShops] ([CompanyShopsId], [CompanyId], [ShopId]) VALUES (1, 8, 11)
SET IDENTITY_INSERT [dbo].[CompanyShops] OFF
SET IDENTITY_INSERT [dbo].[CompanyUser] ON 

INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (1, 1, N'c0fb56b6-722b-4b4c-9097-0cb14f4bcbdd', 0, CAST(N'2020-01-29 11:41:58.000' AS DateTime))
INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (2, 1, N'4aac4579-b475-4a18-9fab-24e84a866cfa', 0, CAST(N'2020-01-29 11:41:17.000' AS DateTime))
INSERT [dbo].[CompanyUser] ([CompanyUserId], [CompanyId], [UserId], [IsDelete], [Timestamp]) VALUES (3, 5, N'73e9a8c4-9fd7-447b-adbb-896be87deec2', 0, CAST(N'2020-01-30 16:31:06.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CompanyUser] OFF
SET IDENTITY_INSERT [dbo].[EmailTemplate] ON 

SET IDENTITY_INSERT [dbo].[EmailTemplate] OFF
SET IDENTITY_INSERT [dbo].[RemainingBalance] ON 

INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (1, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', 0, 1, CAST(0.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), 1, 0, CAST(N'2020-02-11 14:44:30.000' AS DateTime))
INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (2, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', 0, 2, CAST(0.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(1100.00 AS Decimal(18, 2)), 1, 0, CAST(N'2020-02-11 14:45:06.000' AS DateTime))
INSERT [dbo].[RemainingBalance] ([RemainingBalanceId], [UserId], [SaleId], [BalanceId], [SaleAmount], [BalanceAmount], [CurrentAmount], [IsAmountAdded], [IsDelete], [Timestamp]) VALUES (4, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', 0, 3, CAST(0.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(2600.00 AS Decimal(18, 2)), 1, 0, CAST(N'2020-02-11 14:47:38.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RemainingBalance] OFF
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [UserId], [CardId], [CodeId], [IsDelete], [Timestamp]) VALUES (1, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', 1, 1, 0, CAST(N'2020-02-11 10:29:02.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sale] OFF
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([ShopId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (1, N'Shop1', N'This is shop 1', NULL, N'123456789', N'pak', 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
INSERT [dbo].[Shop] ([ShopId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (6, N'Shop2', N'This is shop 2', NULL, N'123456789', N'pak', 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
INSERT [dbo].[Shop] ([ShopId], [Name], [Description], [Photo], [Phone], [Address], [IsDelete], [Timestamp], [ProfileViewModelUserId]) VALUES (8, N'Shop3', N'This is shop 3', NULL, N'123456789', N'pak', 0, CAST(N'2020-01-27 14:53:07.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Shop] OFF
SET IDENTITY_INSERT [dbo].[ShopUser] ON 

INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (1, 1, N'c0fb56b6-722b-4b4c-9097-0cb14f4bcbdd', 0, CAST(N'2020-01-29 11:41:03.000' AS DateTime))
INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (2, 11, N'899b2d6d-ce07-4a41-afe9-efe0fc503f6b', 0, CAST(N'2020-01-31 14:01:25.000' AS DateTime))
INSERT [dbo].[ShopUser] ([ShopUserId], [ShopId], [UserId], [IsDelete], [Timestamp]) VALUES (3, 10, N'284afac0-984b-4d5f-a44b-1d68e2341670', 0, CAST(N'2020-02-05 13:45:03.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShopUser] OFF
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_CardViewModel_CardViewModelCardId] FOREIGN KEY([CardViewModelCardId])
REFERENCES [dbo].[CardViewModel] ([CardId])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_CardViewModel_CardViewModelCardId]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_ProfileViewModel_ProfileViewModelUserId] FOREIGN KEY([ProfileViewModelUserId])
REFERENCES [dbo].[ProfileViewModel] ([UserId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_ProfileViewModel_ProfileViewModelUserId]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_ProfileViewModel_ProfileViewModelUserId] FOREIGN KEY([ProfileViewModelUserId])
REFERENCES [dbo].[ProfileViewModel] ([UserId])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_ProfileViewModel_ProfileViewModelUserId]
GO
/****** Object:  StoredProcedure [dbo].[CreateBalance]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateBalance]
(@userId nvarchar(450), @amount decimal(18, 2), @addedBy nvarchar(450), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @balanceId INT;
DECLARE @currentAmount DECIMAL(18, 2);

INSERT INTO Balance
        (UserId
        ,Amount
        ,AddedBy
        ,IsDelete
        ,Timestamp)
VALUES
        (@userId,
        @amount,
        @addedBy,
        @isDelete,
        @timestamp)


SET @balanceId = (SELECT BalanceId FROM Balance WHERE BalanceId = IDENT_CURRENT('Balance'));
SET @currentAmount = (Select TOP 1 CurrentAmount FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC);

INSERT INTO RemainingBalance
           (UserId
		   ,SaleId
           ,BalanceId
           ,SaleAmount
           ,BalanceAmount
           ,CurrentAmount
           ,IsAmountAdded
           ,IsDelete
           ,Timestamp)
     VALUES
           (@userId
		   ,0
           ,@balanceId
           ,0
           ,@amount
           ,(@currentAmount + @amount)
           ,1
           ,@isDelete
           ,@timestamp)

SELECT * FROM Balance WHERE BalanceId = IDENT_CURRENT('Balance');

END



GO
/****** Object:  StoredProcedure [dbo].[CreateCard]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateCard]
(@userId nvarchar(450), @companyId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @amount varchar(100), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @company INT;

IF @companyId = 0 BEGIN

	SET @company = (Select CompanyId FROM CompanyUser WHERE UserId = @userId);

	SET @companyId = @company;

END

INSERT INTO Card
           (CompanyId
           ,Name
           ,Description
           ,Photo
           ,Amount
           ,IsDelete
           ,Timestamp)
     VALUES
           (@companyId
           ,@name
           ,@description
           ,@photo
           ,@amount
           ,@isDelete
           ,@timestamp)

SELECT * FROM Card WHERE CardId = IDENT_CURRENT('Card');

END





GO
/****** Object:  StoredProcedure [dbo].[CreateCompany]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateCompany]
(@name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

	INSERT INTO Company
           (Name
           ,Description
           ,Photo
           ,Phone
           ,Address
           ,IsDelete
           ,Timestamp)
     VALUES
           (@name,
           @description,
           @photo,
           @phone,
           @address,
           @isDelete,
           @timestamp)

SELECT * FROM Company WHERE CompanyId = IDENT_CURRENT('Company');


END











GO
/****** Object:  StoredProcedure [dbo].[CreateSale]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateSale]
(@userId nvarchar(450), @cardId int, @isDelete bit, @timestamp datetime)
AS
BEGIN
DECLARE @userBalance decimal(18, 2);
DECLARE @cardAmount decimal(18, 2);
DECLARE @codeId INT;
DECLARE @saleId INT;

SET @userBalance = (Select TOP 1 CurrentAmount FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC);

SET @cardAmount = (SELECT Amount FROM Card WHERE CardId = @cardId);

	IF @userBalance >= @cardAmount  BEGIN

		SET @codeId = (SELECT TOP 1 CodeId FROM Code WHERE CardId = @cardId AND IsSold = 0 ORDER BY CodeId ASC);

		UPDATE Code SET IsSold = 1 WHERE CodeId = @codeId;

		INSERT INTO Sale (UserId, CardId, CodeId, IsDelete, Timestamp) VALUES (@userId, @cardId, @codeId, @isDelete, @timestamp)

		SET @saleId = (SELECT SaleId FROM Sale WHERE SaleId = IDENT_CURRENT('Sale'))

		INSERT INTO RemainingBalance
           (UserId, SaleId, BalanceId, SaleAmount, BalanceAmount, CurrentAmount, IsAmountAdded, IsDelete, Timestamp)
		VALUES
           (@userId, @saleId, 0, @cardAmount, 0, (@userBalance - @cardAmount), 0, @isDelete, @timestamp)

		SELECT 
			c.Number AS Code,
			cd.Name AS CardName,
			cd.Amount AS Amount,
			cp.Name AS CompanyName,
			cp.Description AS CompanyDescription,
			cp.Photo AS CompanyPhoto,
			sp.Name AS ShopName,
			sp.Description AS ShopDescription,
			sp.Photo AS ShopPhoto,
			s.Timestamp AS SaleTime,			
			anu.Email AS SoldByEmail,
			CONCAT(anu.FirstName, ' ', anu.LastName) AS SoldByName
		FROM Code c
			INNER JOIN Sale s ON 
			s.CodeId = c.CodeId
			INNER JOIN AspNetUsers anu ON 
			anu.Id = s.UserId
			INNER JOIN Card cd ON 
			cd.CardId = c.CardId
			INNER JOIN Company cp ON 
			cp.CompanyId = cd.CompanyId
			INNER JOIN ShopUser su ON 
			su.UserId = s.UserId
			INNER JOIN Shop sp ON 
			sp.ShopId = su.ShopId
		WHERE s.CodeId = @codeId;

	END

END

GO
/****** Object:  StoredProcedure [dbo].[CreateShop]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateShop]
(@name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

INSERT INTO Shop
        (Name
        ,Description
        ,Photo
        ,Phone
        ,Address
        ,IsDelete
        ,Timestamp)
VALUES
        (@name,
        @description,
        @photo,
        @phone,
        @address,
        @isDelete,
        @timestamp)

SELECT * FROM Shop WHERE ShopId = IDENT_CURRENT('Shop');

END








GO
/****** Object:  StoredProcedure [dbo].[CreateTemplate]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateTemplate]
(@name varchar(100), @content varchar(MAX), @isDelete bit, @timestamp datetime)
AS
BEGIN

INSERT INTO EmailTemplate
        (Name
        ,Content
        ,IsDelete
        ,Timestamp)
VALUES
        (@name,
        @content,
        @isDelete,
        @timestamp)

SELECT * FROM EmailTemplate WHERE EmailTemplateId = IDENT_CURRENT('EmailTemplate');

END





GO
/****** Object:  StoredProcedure [dbo].[EditCompany]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditCompany]
(@companyId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

	UPDATE Company SET 
		Name = @name,
		Description = @description,
		Photo = @photo,
		Phone = @phone,
		Address = @address,
		IsDelete = @isDelete,
		Timestamp = @timestamp
	WHERE CompanyId = @companyId;

	SELECT * FROM Company WHERE CompanyId = @companyId;

END











GO
/****** Object:  StoredProcedure [dbo].[EditShop]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditShop]
(@shopId int, @name varchar(100), @description varchar(500), @photo varchar(MAX), @phone varchar(100), @address varchar(500), @isDelete bit, @timestamp datetime)
AS
BEGIN

UPDATE Shop SET 
	Name = @name,
	Description = @description,
	Photo = @photo,
	Phone = @phone,
	Address = @address,
	IsDelete = @isDelete,
	Timestamp = @timestamp
WHERE ShopId = @shopId;

SELECT * FROM Shop WHERE ShopId = @shopId;

END








GO
/****** Object:  StoredProcedure [dbo].[EditTemplate]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditTemplate]
(@emailTemplateId int, @name varchar(100), @content varchar(MAX), @isDelete bit, @timestamp datetime)
AS
BEGIN

UPDATE EmailTemplate SET 
	Name = @name,
	Content = @content,
	IsDelete = @isDelete,
	Timestamp = @timestamp
WHERE EmailTemplateId = @emailTemplateId;

SELECT * FROM EmailTemplate WHERE EmailTemplateId = @emailTemplateId;

END





GO
/****** Object:  StoredProcedure [dbo].[GetAllCards]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCards]
(@pageId int, @pageSize int)
AS
BEGIN

	declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM Card;
		
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM Card
		ORDER BY CardId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END
END





GO
/****** Object:  StoredProcedure [dbo].[GetAllCompanies]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCompanies]
(@pageId int, @pageSize int)
AS
BEGIN
	declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM Company;

	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM Company
		ORDER BY CompanyId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END

END











GO
/****** Object:  StoredProcedure [dbo].[GetAllShops]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllShops]
(@pageId int, @pageSize int)
AS
BEGIN
	declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM Shop;
		
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM Shop
		ORDER BY ShopId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllTemplates]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTemplates] 
(@pageId int, @pageSize int)
AS
BEGIN

declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT * FROM EmailTemplate;

	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT * FROM EmailTemplate
		ORDER BY EmailTemplateId OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END
END





GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllUsers]
(@pageId int, @pageSize int)
AS
BEGIN
	declare @offset int

	IF @pageSize = -1 BEGIN

		SELECT 
		Id AS UserId, 
		CONCAT(FirstName, ' ', LastName) AS Name,
		Email,
		COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
		COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
		(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
		IsActive
		FROM AspNetUsers anu
		
	END
	ELSE  BEGIN

		SET @offset = (@pageId - 1) * @pageSize;

		SELECT 
		Id AS UserId, 
		CONCAT(FirstName, ' ', LastName) AS Name,
		Email,
		COALESCE((Select DISTINCT Name FROM Company WHERE CompanyId = (Select DISTINCT CompanyId FROM CompanyUser Where UserId = anu.Id)),'-') AS Company,
		COALESCE((Select DISTINCT Name FROM Shop WHERE ShopId = (Select DISTINCT ShopId FROM ShopUser Where UserId = anu.Id)),'-') AS Shop,
		(Select DISTINCT Name FROM AspNetRoles WHERE Id = (Select DISTINCT RoleId FROM AspNetUserRoles Where UserId = anu.Id)) AS Role,
		IsActive
		FROM AspNetUsers anu
		ORDER BY Id OFFSET @offset ROWS FETCH NEXT @pageSize ROWS ONLY

	END
END








GO
/****** Object:  StoredProcedure [dbo].[GetBalanceByUserId]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetBalanceByUserId] 
(@userId nvarchar(450))
AS
BEGIN

Select TOP 1 * FROM RemainingBalance WHERE UserId = @userId ORDER BY RemainingBalanceId DESC;

END


GO
/****** Object:  StoredProcedure [dbo].[GetByIdCompany]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdCompany]
(@id int)
AS
BEGIN

	SELECT * FROM Company WHERE CompanyId = @id;

END











GO
/****** Object:  StoredProcedure [dbo].[GetByIdShop]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdShop]
(@id int)
AS
BEGIN

	SELECT * FROM Shop WHERE ShopId = @id;

END








GO
/****** Object:  StoredProcedure [dbo].[GetByIdTemplate]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByIdTemplate]
(@id int)
AS
BEGIN

	SELECT * FROM EmailTemplate WHERE EmailTemplateId = @id;

END





GO
/****** Object:  StoredProcedure [dbo].[GetByNameTemplate]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetByNameTemplate]
(@name varchar(100))
AS
BEGIN

	SELECT * FROM EmailTemplate WHERE Name = @name;

END





GO
/****** Object:  StoredProcedure [dbo].[GetCardsByUserId]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCardsByUserId]
(@userId nvarchar(450))
AS
BEGIN

SELECT su.UserId, su.ShopId, cs.CompanyId, c.CardId, c.Name, c.Description, c.Amount, c.Photo, c.IsDelete, c.Timestamp FROM ShopUser su
INNER JOIN CompanyShops cs ON su.ShopId = cs.ShopId
INNER JOIN Card c ON cs.CompanyId = c.CompanyId
WHERE su.UserId = @userId;

END


GO
/****** Object:  StoredProcedure [dbo].[GetProfile]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProfile]
(@userId nvarchar(450))
AS
BEGIN
	SELECT 
		Id AS UserId,
		Email,
		FirstName,
		LastName,
		Picture,
		Description,
		PhoneNumber AS Phone,
		'' AS base64Picture,
		'' AS listCompanies,
		'' AS listShops,
		COALESCE((Select CompanyId FROM CompanyUser WHERE UserId = @userId), 0) AS CompanyId,
		COALESCE((Select ShopId FROM ShopUser WHERE UserId = @userId), 0) AS ShopId
	FROM AspNetUsers
	WHERE Id = @userId;
END








GO
/****** Object:  StoredProcedure [dbo].[InsertUserToCompanyShop]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertUserToCompanyShop]
(@userId nvarchar(450), @companyId int, @shopId int, @createdBy nvarchar(450), @isDelete bit, @timestamp datetime)
AS
BEGIN

DECLARE @company INT;

IF @companyId = 0 BEGIN

	SET @company = (Select CompanyId FROM CompanyUser WHERE UserId = @createdBy);

	SET @companyId = @company;

END

INSERT INTO CompanyUser (CompanyId, UserId, IsDelete, Timestamp)
VALUES (@companyId, @userId, @isDelete, @timestamp)

INSERT INTO ShopUser (ShopId, UserId, IsDelete, Timestamp)
VALUES (@shopId, @userId, @isDelete, @timestamp)

	SELECT 
	anu.Id AS UserId, 
	CONCAT(anu.FirstName, ' ', anu.LastName) AS UserName,
	anu.Email AS Email,
	cu.CompanyId, 
	su.ShopId, 
	(SELECT DISTINCT Name FROM Company WHERE CompanyId = cu.CompanyId) AS CompanyName,
	(SELECT DISTINCT Name FROM Shop WHERE ShopId = su.ShopId) AS ShopName
	FROM AspNetUsers anu
	INNER JOIN CompanyUser cu
	ON cu.UserId = anu.Id
	INNER JOIN ShopUser su
	ON su.UserId = anu.Id
	WHERE anu.Id = @userId;

END






GO
/****** Object:  StoredProcedure [dbo].[SaveSettings]    Script Date: 2/13/2020 2:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SaveSettings]
(@userId nvarchar(450), @userRole varchar(50), @companyId int, @shopId int, @isDelete bit, @timestamp datetime)
AS
BEGIN

IF @companyId != 0 AND (@userRole = 'Company' OR @userRole = 'Shop')  BEGIN

	IF EXISTS(SELECT * FROM CompanyUser WHERE CompanyId = @companyId AND UserId = @userId)
		UPDATE CompanyUser SET CompanyId = @companyId, UserId = @userId, IsDelete = @isDelete, Timestamp = @timestamp
		WHERE CompanyId = @companyId AND UserId = @userId
	ELSE
		INSERT INTO CompanyUser
			(CompanyId, UserId, IsDelete, Timestamp)
		VALUES
			(@companyId, @userId, @isDelete, @timestamp)

	UPDATE AspNetUsers SET IsCompanySelected = 1 WHERE Id = @userId;

END

IF @shopId != 0 AND @userRole = 'Shop' BEGIN

	IF EXISTS(SELECT * FROM ShopUser WHERE ShopId = @shopId AND UserId = @userId)
		UPDATE ShopUser SET ShopId = @shopId, UserId = @userId, IsDelete = @isDelete, Timestamp = @timestamp
		WHERE ShopId = @shopId AND UserId = @userId
	ELSE
		INSERT INTO ShopUser
			(ShopId, UserId ,IsDelete ,Timestamp)
		VALUES
			(@shopId, @userId, @isDelete, @timestamp)

	UPDATE AspNetUsers SET IsShopSelected = 1 WHERE Id = @userId;

END

SELECT * FROM AspNetUsers WHERE Id = @userId;

END









GO
